// Imported Google fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

// Define fonts for body and headers
$body-font: "Poppins";
$header-font: "Poppins";

// Font-size and line-height
$base-size: 1.4rem;
$base-height: 1.4;
